@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: rgb(32, 32, 32);
}

body {
	font-family: "Montserrat", sans-serif;
	color: white;
}

.container {
	max-width: 80%;
	margin: auto;
}

/* NavBar Styles */
.navbar {
	padding-block: 2rem;
	background-image: linear-gradient(
		180deg,
		#000000 37.5%,
		rgba(0, 0, 0, 0) 100%
	);
}

.navbar__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo__link {
	color: white;
	font-size: 1.2rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	text-decoration: none;
}

.logo__link:hover {
	text-decoration: underline;
}

#searchField__form {
	position: relative;
	margin-left: 3rem;
}

#FaSearch {
	position: absolute;
	color: gray;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

#searchField {
	padding: 1rem 2.2rem;
	font-family: inherit;
	border-radius: 8px;
	border: none;
}

.searchField__button {
	border: solid white 1px;
	color: white;
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	padding: calc(1rem - 1.6px) 1.2rem;
	border-radius: 8px;
	margin-left: 0.5rem;
}

.moreInfo {
	display: flex;
	gap: 1.5rem;
	list-style: none;
}

.moreInfo__link {
	color: white;
}

.moreInfo__link:hover {
	font-weight: 700;
}

/* homePage__list */

.homePage__list {
	display: grid;
	row-gap: 2rem;
	column-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.listItem {
	color: white;
	background-color: rgb(56, 56, 56);
	padding: 1rem;
	border-radius: 8px;
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: center;
	text-align: center;
}
.listItem__img {
	border-radius: 8px;
}

.listItem__info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.listItem__info--title {
	font-size: 1.6rem;
	font-weight: 600;
}

.listItem:hover {
	background-color: rgb(68, 68, 68);
	transform: scale(1.03);
}

/* SingleShow Styles */
.singleShow__background {
	position: relative;
}

.singleShow__container {
	display: flex;
	padding-top: 8rem;
}

.singleShow__info {
	max-width: 50%;
}
.singleShow__mainImg {
	width: 40%;
	transform: translateY(-5rem);
	margin-left: auto;
}

.singleShow__info--title {
	font-size: 5rem;
	margin-bottom: 1rem;
}

#seasonSelect {
	background-color: transparent;
	border: white 1px solid;
	border-radius: 8px;
	padding: 0.5rem 1.125rem;
	color: inherit;
	font-family: inherit;
	transform: translateY(-12rem);
}

.singleShow__genre {
	padding: 0.5rem 0.75rem;
	border: white 1px solid;
	border-radius: 8px;
	position: relative;
	z-index: 5;
	margin-bottom: 2rem;
	margin-right: 1rem;
	display: inline-block;
	transform: translateY(-16rem);
}

.cast__container {
	display: grid;
	row-gap: 2rem;
	column-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.castItem {
	list-style: none;
	background-color: rgb(56, 56, 56);
	padding: 1rem;
	border-radius: 8px;
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: center;
	text-align: center;
}
.castItem__img {
	border-radius: 8px;
}

.castItem__info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.castItem__info--actor {
	font-weight: 600;
}
